<!DOCTYPE html>
<html lang="en">

<head>
    <title>Griekse en Romeinse tijdlijn</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="index.css" rel="stylesheet">
</head>

<body>
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic'
        rel='stylesheet' type='text/css'>

    <h1 class="titel">Tijdlijn van de Griekse en Romeinse cultuur</h1>
    <ul class="lijn">
            <li>
                <div class="grieks">
                    <div class="flag-wrapper"><span class="flag"><a href="posts/1">Myceense beschaving</a></span><span
                        class="time-wrapper"><span class="time">1600-1200</span></span> </div>
                    <div class="desc">Quo usque tandem factionem cartellum</div>
                </div>
            </li>
            <li>
                <div class="grieks">
                    <div class="flag-wrapper"><span class="flag"><a href="posts/2">Dark ages</a></span><span
                        class="time-wrapper"><span class="time">1200-750</span></span> </div>
                    <div class="desc">Quo usque tandem factionem cartellum</div>
                </div>
            </li>
            <li>
                <div class="romeins">
                    <div class="flag-wrapper"><span class="flag"><a href="posts/3">Koningstijd</a></span><span
                        class="time-wrapper"><span class="time">753-509</span></span> </div>
                    <div class="desc">Quo usque tandem factionem cartellum</div>
                </div>
            </li>
            <li>
                <div class="grieks">
                    <div class="flag-wrapper"><span class="flag"><a href="posts/4">Archaïsche periode</a></span><span
                        class="time-wrapper"><span class="time">750-500</span></span> </div>
                    <div class="desc">Quo usque tandem factionem cartellum</div>
                </div>
            </li>
            <li>
                <div class="romeins">
                    <div class="flag-wrapper"><span class="flag"><a href="posts/5">Republiek</a></span><span
                        class="time-wrapper"><span class="time">509-31</span></span> </div>
                    <div class="desc">Quo usque tandem factionem cartellum</div>
                </div>
            </li>
            <li>
                <div class="grieks">
                    <div class="flag-wrapper"><span class="flag"><a href="posts/6">Klassieke periode</a></span><span
                        class="time-wrapper"><span class="time">500-330</span></span> </div>
                    <div class="desc">Quo usque tandem factionem cartellum</div>
                </div>
            </li>
            <li>
                <div class="grieks">
                    <div class="flag-wrapper"><span class="flag"><a href="posts/7">Hellenistische periode</a></span><span
                        class="time-wrapper"><span class="time">330-30</span></span> </div>
                    <div class="desc">Quo usque tandem factionem cartellum</div>
                </div>
            </li>
            <li>
                <div class="romeins">
                    <div class="flag-wrapper"><span class="flag"><a href="posts/8">Keizertijd</a></span><span
                        class="time-wrapper"><span class="time">31-476</span></span> </div>
                    <div class="desc">Quo usque tandem factionem cartellum</div>
                </div>
            </li>

    </ul>

</body>

</html>
